.change-theme {
    position: absolute;
    right: calc(50% - var(--biggest-font-size));
    display: flex;
    color: var(--navbar-mobile-color);
    cursor: pointer;
    font-size: var(--icon-font-size);
    margin-left: 1.3rem;
    transition: 1.3s;
}

.change-theme:hover {
    text-decoration: none;
    transform: scale(1.2);
}

.change-theme.dark {
    transform: rotate(180deg);
    margin-right: calc(var(--mb-3) + 1.3rem);
    transition: 1.3s;
}


@media screen and (min-width: 968px) {

    .change-theme {
        position: static;
        right: calc(50% - 4.4rem);
        font-size: var(--h2-font-size);
        color: var(--navbar-desktop-color);
    }

}