
.change-theme {
    position: absolute;
    right: calc(50% - var(--biggest-font-size));
    bottom: var(--mb-5);
    display: flex;
    color: var(--navbar-mobile-color);
    cursor: pointer;
    font-size: var(--icon-font-size);
    transition: all ease 1s;
}

.change-theme:hover {
    text-decoration: none;
    transform: scale(1.2);
}

.change-theme.dark {
    transform: rotate(180deg);
}




@media screen and (min-width: 968px) {

    .change-theme {
        position: static;
        font-size: var(--h2-font-size);
        color: var(--navbar-desktop-color);
        margin-left: 1rem;
    }


    .change-theme.dark {
        transform: rotate(180deg) translateX(-.5rem);
        margin-left: .5rem;
        
    }
}